:root {
  --btn-color-white: #ffffff;
  --btn--color-default: #3f3f3f;
  --btn--color-1: #aeaeae;
  --btn-color-variant: #3d5afe;
  --btn--color-disabled: #9e9e9e;
  --btn-bg-default: #e0e0e0;
  --btn-bg-variant-hover: #e0e7ff;
  --btn-bg-primary: #2962ff;
  --btn-bg-primary-hover: #0039cb;
  --btn-bg-secondary: #455a64;
  --btn-bg-secondary-hover: #1c313a;
  --btn-bg-danger: #d32f2f;
  --btn-bg-danger-hover: #9a0007;
}

button {
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--btn-bg-default);
  color: var(--btn--color-default);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--btn--color-1);
}

button.hover {
  background-color: var(--btn--color-1);
}

/* variant */
.button__variant-outline {
  background-color: white;
  color: var(--btn-color-variant);
  border: 1px solid var(--btn-color-variant);
  box-shadow: none;
}

.button__variant-outline:hover,
.button__variant-outline:focus,
.button__variant-outline.hover,
.button--variant-outline-hover:focus {
  background-color: var(--btn-bg-variant-hover);
}

/* text */

.button__variant-text {
  background-color: white;
  color: var(--btn-color-variant);
  box-shadow: none;
}

.button__variant-text:hover,
.button__variant-text:focus,
.button__variant-text.hover {
  background-color: var(--btn-bg-variant-hover);
  border: none;
  box-shadow: none;
}

/* disableShadow */
.disableShadow,
.disableShadow:hover {
  color: var(--btn-color-white);
  background-color: var(--btn-color-variant);
  box-shadow: none;
}

/* disabled */
.disabled,
.disabled:hover,
.disabled:focus {
  cursor: default;
  color: var(--btn--color-default);
  box-shadow: none;
}

.button__variant-text.disabled,
.button__variant-text.disabled:hover {
  background-color: var(--btn-color-white);
}

/*size */
.button__size-sm,
.button__size-sm:hover {
  padding: 6px 12px;
  color: var(--btn-color-white);
}

.button__size-md,
.button__size-md:hover {
  padding: 8px 16px;
  color: var(--btn-color-white);
}

.button__size-lg,
.button__size-lg:hover {
  padding: 11px 22px;
  color: var(--btn-color-white);
}

/* color */
.button__color-default {
  background-color: var(--btn-bg-default);
}

.button__color-default:hover,
.button__color-default.hover {
  background-color: var(--btn--color-1);
}

.button__color-primary {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-primary);
}

.button__color-primary:hover,
.button__color-primary.hover {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-primary-hover);
}

.button__color-secondary {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-secondary);
}

.button__color-secondary:hover,
.button__color-secondary.hover {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-secondary-hover);
}

.button__color-danger {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-danger);
}

.button__color-danger:hover,
.button__color-danger.hover {
  color: var(--btn-color-white);
  background-color: var(--btn-bg-danger-hover);
}

/*icons */
/* Icons */
i.material-icons {
  font-size: 22px;
  vertical-align: bottom;
}
.startIcon i {
  margin-right: 11px;
}
.endIcon i {
  margin-left: 11px;
}
